*{
			box-sizing: border-box;
			padding: 0;
			margin: 0;
			overflow-x: hidden;
		}

		body{
			background-color: black;
			color: white;
			font-family: helvetica, sans-serif;
			width: 100%;
		}

		#background {
		  background-image: url('bgimage.jpg');
		  height: 600px;
		  background-position: center;
		  background-repeat: no-repeat;
		  background-size: cover;
		  /*background-attachment: fixed;*/
		}

		div#container{
			/*background-color: lightgray;*/
			position: relative;
			top: 110px;
			left:160px;
			height: 400px;
		}

		#image {
			width: 250px;
			height: 250px;
			position:relative;
			top: 29px;
			left: 30px;
			border-radius: 50%;

		}

		#website-name{
			position: absolute;
			top:0;
			left:0;
			color: white;
			background: black;
			width: 100%;
			text-align: left;
			padding: 1px;
		}

		#title{
			font-size: 45px;
			font-family: sans-serif;
			position: absolute;
			top: 35px;
			left: 350px;
			/*background-color: pink;*/
			width: 390px;
			color: white;
		}

		#location{
			position: absolute;
			left: 350px;
			top: 95px;
			text-transform: uppercase;
			font-family: sans-serif;
			color: white;
		}

		#introtext{
			position: absolute;
			top: 170px;
			left: 350px;
			width: 330px;
			font-size: 17px;
			color: white;
			/*background-color: yellow;*/
		}

		div#social-media-container{
			position: absolute;
			right: 10px;
			top: 45px;
			height: 60px;
			/*border: 1px solid blue;*/
		}

		.social-media-link{
			position: relative;
			margin-left: 5px;
			margin-right: 5px;
			font-size: 35px;
			left: 5px;
			top: 5px;
		}

		a:link, a:visited {
		  text-decoration: none;
		  background-color: none;
		  border: 0px solid blue;
		  color: black;
		  display: inline;
		  width: 200px;
		  text-align: center;
		  margin-bottom: 1px;
		}

		a:hover, a:active {
		  background-color: none;
		  color: steelblue;
		}

		.cvcontent{
			padding: 40px;
			font-family: sans-serif;
			/*border: 1px white solid;*/
			width: 100%;
			position: relative;
			left: 0px;
			color: black;
			background-color: lightblue;

		}

		.cvcontent>h2{
			margin-bottom: 25px;
			margin-top: 40px;
		}

		.spacer{
			height: 100px;
		}

		table,tr,td{
			text-align: left;
			border: 0px;
			border-collapse: separate;
			border-spacing: 40px 15px;
			/*margin-right: auto;
			margin-left: auto;*/
		}

		td.date{
			text-align:center;
			vertical-align: top;
			border: 0px;
			border-style: none;
			border-color:lightgray;
		}

		.button {
		  border: white 1px solid;
		  color: white;
		  background: transparent;
		  padding: 16px 32px;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		  font-size: 16px;
		  margin: 4px 2px;
		  transition-duration: 0.4s;
		  cursor: pointer;
		  border-radius: 5%;
		  width: 180px;
		}

		.button:hover {
		  color: white;
		  background-color: black;
		  opacity: 0.3;
		  border: white 1px solid;
		}

		#button-cv{
			position: relative;
			left: 150px;
			bottom: 100px;
		}

		#button-internship{
			position: relative;
		  	left: 350px;
		  	bottom: 100px;
		}

		#button-contact{
			position: relative;
		  	left: 550px;
		  	bottom: 100px;
		}

		#logo{
			position: relative;
			top:0;
			left:2px;
			width: 40px;
			height: 40px;
			float: left;
		}


